---
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:   1000px;

$on-palm:          600px;
$on-laptop:        800px;

/* * * * */

$grey-color-soft-light: lighten($grey-color, 25%);
$background-color-dark: darken($background-color, 5%);

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $spacing-unit / 2;

  th {
    border-top: 1px solid $grey-color-soft-light;
    background-color: $background-color-dark;
  }
  th, td {
    border-collapse: collapse;
    border-bottom: 1px solid $grey-color-soft-light;
    padding: 0.125em 0.25em;
  }

}

kbd {
  /*
  border-radius: 0.25em;
  line-height: 1em;
  */
  border-color: $grey-color-soft-light;
  padding: 0 0.25em;
  background-color: $background-color-dark;
}

.post-tag::after {
  content: ", ";
}

.post-tag:last-child::after {
  content: "";
}

hr {
    margin-bottom: 15px;
    height: 1px;
    border: none;
    background-color: $grey-color-light;
}
